$bordercolor:#E7E0DA;
$bgcolor:#f8f2d752;
$textWhite: #fff;
$textgray: #e7e0e080;
$lightShadow:#cccccc33;
$textblack: #1D1818;
$shadowColor: #8782821c;
$textblue: blue;
$textyellow:#FFEF98;
$footericon:#1d181840;